<html>
  <head>
    <style>
      body {
        <%= @color %>;
          }
    </style>
  </head>
    <p>
      <%= @direction %>
    </p>
    <p>
      <%= message %>
    </p>

      <form>
        <input type= 'text' name= 'guess' />
        <input type= 'submit' value= 'Guess!' />
      </form>
      <p>
        <%= @@count %> tries left
      </p>
    </body>
</html>
