<html>
  <head>
    <style>
      body {
        background: red;
          }
        <p>
        </style>
          <!-- "<%= display_message %>" -->
          </p>
          <p>
          <%= message %>
          </p>
          <form>
          <input type= 'text' name= 'guess' />
        <input type= 'submit' value= 'Guess!' />
        </form>
      </body>
    </head>
</html>
